{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock title %}

{% block main %}
{% include 'shop/components/carousel.html' %}
{% include 'shop/components/feature.html' %}
{% include 'shop/components/category.html' %}
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        {% for product in data.featured_products %}
        {% include 'shop/components/card.html' %}
        {% endfor %}
    </div>
</div>
{% include 'shop/components/offer.html' %}
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
    <div class="row px-xl-5">
        {% for product in data.recent_products %}
        {% include 'shop/components/card.html' %}
        {% endfor %}
    </div>
</div>
{% include 'shop/components/vendor.html' %}
{% endblock main %}